@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("GoTo #Redirect", "GoToRedirect") <br />
        @Html.ActionLink("GoTo #RedirectResult", "GoToRedirectResult") <br />
        @Html.ActionLink("GoTo #RedirectPermanent", "GoToRedirectPermanent") <br />
        @Html.ActionLink("GoTo #RedirectToRoute", "GoToRedirectToRoute") <br />
        @Html.ActionLink("GoTo #RedirectToAction", "GoToRedirectToAction") <br />
    </div>
</body>
</html>
