@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Base Info", "C_01_BaseInfo") <br />
        @Html.ActionLink("Redirect", "C_02_Redirect") <br />
        @Html.ActionLink("RedirectResult", "C_03_RedirectResult") <br />
        @Html.ActionLink("RedirectPermanent", "C_04_RedirectPermanent") <br />
        @Html.ActionLink("RedirectToRoute", "C_05_RedirectToRoute") <br />
        @Html.ActionLink("RedirectToAction", "C_06_RedirectToAction") <br />
    </div>
</body>
</html>
