@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul>
        <li>@Html.ActionLink("Base info", "W_01_BaseInfo")</li>
        <li>@Html.ActionLink("Http Verb Action Name", "W_02_HttpVerbActionName")</li>
        <li>@Html.ActionLink("Http Verb Attribute", "W_03_HttpVerbAttribute")</li>
        <li>@Html.ActionLink("Start Action Name With Http Verb", "W_04_StartActionNameWithHttpVerb")</li>
        <li>@Html.ActionLink("Return Values", "W_05_ReturnValues")</li>
        <li>@Html.ActionLink("Form and Api", "W_06_FormAndApi")</li>
        <li>@Html.ActionLink("OData", "W_07_OData")</li>
        <li>@Html.ActionLink("Media Formatter", "W_08_MediaFormatter")</li>
        <li>@Html.ActionLink("Message Handlers Base Info", "W_09_MessageHandlers_BaseInfo")</li>
        <li>@Html.ActionLink("Message Handlers Base Test", "W_10_MessageHandlers_TestHandler")</li>
    </ul>
</body>
</html>
