@{
    ViewBag.Title = "Index page";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <h1>Index</h1>
    @using (Html.BeginForm())
    {
        <div>
            <ul>
                <li>
                    <h2>Controller</h2>
                    <ol>
                        <li><a href="~/_001_Base" >Base Controller 1</a></li>
                        <li>@Html.ActionLink("Base Controller 2", "Index2", "_001_Base")</li>
                        <li>@Html.ActionLink("Basic Info", "Index", "_002_BasicInfoController")</li>
                        <li>@Html.ActionLink("Open not default view", "OtherView", "_002_BasicInfoController")</li>
                        <li>Receive data
                            <ul style="list-style:square">
                                <li>@Html.ActionLink("Get data from context objects", "GetDataFromContextObjects", "_003_ReceiveData")</li>
                                <li>@Html.ActionLink("Get data from request", "GetDataFromRequest", "_003_ReceiveData")</li>
                                <li>@Html.ActionLink("Get symple types from request", "GetDataFromRequestSimpleType", "_004_ReceiveDataSimpleTypes")</li>
                                <li>@Html.ActionLink("Simple type with route's parameter", "SimpleType/5", "_004_ReceiveDataSimpleTypes")</li>
                                <li><a href="~/_004_ReceiveDataSimpleTypes/SimpleType/5" >Simple type with route's parameter</a></li>
                                <li><a href="~/_004_ReceiveDataSimpleTypes/SimpleType?id=5" >Simple type with id parameter</a></li>
                                <li><a href="~/_004_ReceiveDataSimpleTypes/SimpleType2?ff=5" >Simple type with ff parameter</a></li>
                                <li>@Html.ActionLink("Simple form", "SimpleForm", "_004_ReceiveDataSimpleTypes")</li>
                            </ul>
                        </li>
                    </ol>
                </li>
                <li>
                    <h2>View</h2>
                    <ol>
                        <li>@Html.ActionLink("Basic Info", "Index", "_001_BasicInfoView")</li>
                    </ol>
                </li>
               <li>
                    <h2>Model</h2>
                    <ol>
                        <li>@Html.ActionLink("Basic Info", "Index", "_001_BasicInfoModel")</li>
                    </ol>
                </li>
               <li>
                    <h2>Routing</h2>
                    <ol>
                        <li>@Html.ActionLink("Basic Info", "Index", "_001_BasicInfoRouting")</li>
                    </ol>
                </li>
            </ul>
        </div>
    }
</body>
</html>