@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <ol>
            <li>@Html.ActionLink("Base info", "_01_BaseInfo", "_01_Home")</li>
            <li>@Html.ActionLink("Default Values", "_02_DefaultValues", "_01_Home")</li>
            <li>@Html.ActionLink("Static Segments", "_03_StaticSegments", "_01_Home")</li>
            <li>@Html.ActionLink("Segment Variables", "_04_SegmentVariables", "_01_Home")</li>
            <li>@Html.ActionLink("Optional Segments", "_05_OptionalSegments", "_01_Home")</li>
            <li>@Html.ActionLink("Catch All Segments", "_06_CatchAllSegments", "_01_Home")</li>
            <li>@Html.ActionLink("Segments Restrictions", "_07_SegmentsRestrictions", "_01_Home")</li>
            <li>@Html.ActionLink("Ignore Rote", "_08_IgnoreRote", "_01_Home")</li>
            <li>@Html.ActionLink("Link and Url Base Info", "_01_BaseInfo", "_02_Link")</li>
            <li>@Html.ActionLink("Generate Link", "_02_GenerateLink", "_02_Link")</li>
            <li>@Html.ActionLink("Generate Url", "_03_GenerateUrl", "_02_Link")</li>
            <li>@Html.ActionLink("Areas", "_04_Areas", "_02_Link")</li>
        </ol>
    </div>
</body>
</html>
