@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SimpleForm</title>
</head>
<body>
    <div>
        @* BeginForm - создает элемент form с атрибутами в соответсвии с параметрами*@
        @using (Html.BeginForm("C_07_SimpleForm", "_04_ReceiveSimpleTypes"))
        {
            @*@Html.TextBox("x") - создает элемент input type="text" 
            с атрибутам в соответсвии с настройками*@
            <label>X</label> @Html.TextBox("x") <br />
            <label>Y</label> @Html.TextBox("y") <br />
            if (ViewBag.PostResult != null)
            {
                <p>@ViewBag.PostResult</p>
            }
            <input type="submit" name="operation" value="Post Result" />
        }
        <br/>
        <p>Form with Get method</p>
        @using (Html.BeginForm("C_07_SimpleForm", "_04_ReceiveSimpleTypes", FormMethod.Get))
        {
            <label>X</label> @Html.TextBox("x") <br />
            <label>Y</label> @Html.TextBox("y") <br />
            if (ViewBag.GetResult != null)
            {
                <p>@ViewBag.GetResult</p>
            }
            <input type="submit" name="operation" value="Get Result" />
        }

        @*
            Код данного представления будет представлен следующей HTML разметкой

            <form action="/Home/Index" method="post">
                <label>X</label> <input type="text" name="x" /> <br />
                <label>Y</label> <input type="text" name="y" /> <br />
                <input type="submit" name="operation" value="Get Result" />
            </form>
        *@
    </div>
</body>
</html>
