@{
    ViewBag.Title = "Index";
}

<ul>
    <li>@Html.ActionLink("Membership  Base Info", "S_01_Membership_BaseInfo")</li>
    <li>@Html.ActionLink("Internet Application", "Index", "_03_Home")</li>
    <li>@Html.ActionLink("XSS Base Info", "S_04_XSS_BaseInfo")</li>
    <li>@Html.ActionLink("XSS Test", "S_04_XSS_Create")</li>
    <li>@Html.ActionLink("SQL Injection", "S_05_SQL_Injection_BaseInfo")</li>
    <li>@Html.ActionLink("Cross-Site Request Forgery (CSRF)", "S_06_CSRF_BaseInfo")</li>
    <li>@Html.ActionLink("Controller Recommendation", "S_07_ControllerRecommendation")</li>
</ul>