@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    <li>@Html.ActionLink("Base Info", "V_01_BaseInfo")</li>
    <li>@Html.ActionLink("Html Elements", "V_02_HtmlHelperMethods")</li>
    <li>@Html.ActionLink("HtmlElements Used ViewBag", "V_03_HtmlHelperMethodsUseViewBag")</li>
    <li>@Html.ActionLink("HtmlElements Used ViewData", "V_04_HtmlHelperMethodsUseViewData")</li>
    <li>@Html.ActionLink("HtmlElements Used Model", "V_05_HtmlHelperMethodsUseModel")</li>
    <li>@Html.ActionLink("Strongly Typed Html Elements", "V_06_StronglyTypedHtmlElements")</li>
</ul>