@{
    ViewBag.Title = "HtmlElements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>элементы HTML форм</h2>

@using (Html.BeginForm())
{
    @:Флажок
    @Html.CheckBox("myCheckBox", false)
    <br />

    @:Скрытое поле
    @Html.Hidden("myHiddenField", "val")
    <br />

    @:Переключатель
    @Html.RadioButton("myRadioButton", "val", true)
    <br />

    @:Поле для ввода пароля
    @Html.Password("myPassword", "val")
    <br />

    @:Текстовая область
    @Html.TextArea("myTextArea1", "val", 5, 20, null);
    <br />

    @:Текстовое поле
    @Html.TextBox("myTextArea2", "val")
    <br />
}