@model _01_ASPMVCTest.Areas.E_30_Examples.Models.E_03_EF_Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/E_30_Examples/Views/Shared/_03_EF_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Product</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
