@{
    ViewBag.Title = "Index";
}

<ul>
    <li>@Html.ActionLink("Base Info", "A_01_BaseInfo")</li>
    <li>@Html.ActionLink("Simple Ajax", "A_02_SimpleAjax")</li>
    <li>@Html.ActionLink("Loading Indicator", "A_03_LoadingIndicator")</li>
    <li>@Html.ActionLink("Ajax Links", "A_04_AjaxLinks")</li>
    <li>@Html.ActionLink("Ajax Callbacks", "A_05_AjaxCallbacks")</li>
    <li>@Html.ActionLink("Json Result", "A_06_JsonResult")</li>
    <li>@Html.ActionLink("JQuery", "A_07_JQuery")</li>
    <li>@Html.ActionLink("JavaScript", "A_08_JavaScript")</li>
</ul>
