@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <ol>
            <li>@Html.ActionLink("Base info", "A_01_BaseInfo", "_01_Home")</li>
            <li>@Html.ActionLink("Default Values", "A_02_DefaultValues", "_01_Home")</li>
            <li>@Html.ActionLink("Static Segments", "A_03_StaticSegments", "_01_Home")</li>
            <li>@Html.ActionLink("Segment Variables", "A_04_SegmentVariables", "_01_Home")</li>
            <li>@Html.ActionLink("Optional Segments", "A_05_OptionalSegments", "_01_Home")</li>
            <li>@Html.ActionLink("Catch All Segments", "A_06_CatchAllSegments", "_01_Home")</li>
            <li>@Html.ActionLink("Segments Restrictions", "A_07_SegmentsRestrictions", "_01_Home")</li>
            <li>@Html.ActionLink("Ignore Rote", "A_08_IgnoreRote", "_01_Home")</li>
            <li>@Html.ActionLink("Link and Url Generation", "Index", "_02_Link")</li>
            <li>@Html.ActionLink("Areas", "Index", "_03_Areas")</li>
        </ol>
    </div>
</body>
</html>
