@{
    ViewBag.Title = "HtmlElements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
Для создания элементов управления можно использовать следующие вспомогательные методы: 
	o Html.CheckBox(“check_box_name”, false) – создание флажка 
	o Html.Hidden(“hidden_name”, “value”) – скрытое поле (input с типом hidden) 
	o Html.RadioButton(“radio_name”, “value”, true) – переключатель 
	o Html.Password(“password_name”, “value”) – поле для ввода пароля 
	o Html.TextArea(“text_area_name”, “value”, 5, 10, null) – многострочное поле ввода 
	o Html.TextBox(“text_box_name”, “value”) – однострочное поле ввода 
*@

<h2>элементы HTML форм</h2>

@using (Html.BeginForm("Home", "index"))
{
    @:Флажок
    @Html.CheckBox("myCheckBox", false)
    <br />

    @:Скрытое поле
    @Html.Hidden("myHiddenField", "val")
    <br />

    @:Переключатель
    @Html.RadioButton("myRadioButton", "val", true)
    <br />

    @:Поле для ввода пароля
    @Html.Password("myPassword", "val")
    <br />

    @:Текстовая область
    @Html.TextArea("myTextArea1", "val", 5, 20, null);
    <br />

    @:Текстовое поле
    @Html.TextBox("myTextArea2", "val")
    <br />
}