@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <ul>
            <li>@Html.ActionLink("Onion", "Onion")</li>
            <li>@Html.ActionLink("Unit Of Work", "UnitOfWork", null, new { target = "_blank" })</li>
            <li>@Html.ActionLink("AutoMapper", "AutoMapper", null, new { target = "_blank" })</li>
            <li>@Html.ActionLink("Monolit", "Monolit", null, new { target = "_blank" })</li>
            <li>@Html.ActionLink("NLayer", "NLayer", null, new { target = "_blank" })</li>
        </ul>
    </div>
</body>
</html>
