@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    <li>@Html.ActionLink("Base Info", "V_01_BaseInfo")</li>
    <li>@Html.ActionLink("Templated Helper Method", "V_02_TemplatedHelperMethod")</li>
    <li>@Html.ActionLink("EditorForModel and DisplayForModel", "V_03_Editor_Display_ForModel")</li>
    <li>@Html.ActionLink("Model Metadata", "V_04_ModelMetadata")</li>
    <li>@Html.ActionLink("Special Template", "V_05_SpecialTemplate")</li>
</ul>