@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    <li>@Html.ActionLink("Base Info", "M_01_BaseInfo")</li>
    <li>@Html.ActionLink("Simple Type Binding", "M_02_SimpleTypeBinding")</li>
    <li>@Html.ActionLink("Complex Type Binding", "M_03_ComplexTypeBinding")</li>
    <li>@Html.ActionLink("Binding With Prefix", "M_04_BindingWithPrefix")</li>
    <li>@Html.ActionLink("Array Binding", "M_05_ArrayBinding")</li>
    <li>@Html.ActionLink("Manual Binding", "M_06_ManualBinding")</li>
    <li>@Html.ActionLink("File Upload", "M_07_FileUpload")</li>
    <li>@Html.ActionLink("Advanced Binding Settings", "M_08_CustomValueProvider")</li>
    <li>@Html.ActionLink("Custom Model Binder", "M_09_CustomModelBinder")</li>
</ul>