@model _01_ASPMVCTest.Areas._003_Model.Models.AccountModelMetadata
@{
    ViewBag.Title = "ClientSideValidation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ClientSideValidation</h2>
<p>
    Для валидации данных на стороне клиента используется библиотека ~/Scripts/jquery.unobtrusive и ~/Scripts/jquery.validate
    Данные библиотеки добавлены в файле компоновки через бандл ~/bundles/jqueryval
    Также нужно проверить параметры в web.Config<br />
    &lt;add key="ClientValidationEnabled" value="true" /&gt;<br />
    &lt;add key="UnobtrusiveJavaScriptEnabled" value="true" /&gt;<br />
</p>

@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(x => x.Login)
        @Html.EditorFor(x => x.Login)
        @Html.ValidationMessageFor(x => x.Login)
    </p>

    <p>
        @Html.LabelFor(x => x.Password)
        @Html.EditorFor(x => x.Password)
        @Html.ValidationMessageFor(x => x.Password)
    </p>

    <p>
        @Html.LabelFor(x => x.PasswordConfirm)
        @Html.EditorFor(x => x.PasswordConfirm)
        @Html.ValidationMessageFor(x => x.PasswordConfirm)
    </p>

    <p>
        @Html.LabelFor(x => x.Email)
        @Html.EditorFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.Email)
    </p>

    <p>
        @Html.LabelFor(x => x.Age)
        @Html.EditorFor(x => x.Age)
        @Html.ValidationMessageFor(x => x.Age)
    </p>

    <input type="submit" value="Register" />
}