@model _01_ASPMVCTest.Areas._003_Model.Models.AccountModelMetadata2

@{
    ViewBag.Title = "CustomValidationAttribute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CustomValidationAttribute</h2>

@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(x => x.Login)
        @Html.EditorFor(x => x.Login)
        @Html.ValidationMessageFor(x => x.Login)
    </p>

    <p>
        @Html.LabelFor(x => x.Password)
        @Html.EditorFor(x => x.Password)
        @Html.ValidationMessageFor(x => x.Password)
    </p>

    <p>
        @Html.LabelFor(x => x.PasswordConfirm)
        @Html.EditorFor(x => x.PasswordConfirm)
        @Html.ValidationMessageFor(x => x.PasswordConfirm)
    </p>

    <p>
        @Html.LabelFor(x => x.Email)
        @Html.EditorFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.Email)
    </p>

    <p>
        @Html.LabelFor(x => x.Age)
        @Html.EditorFor(x => x.Age)
        @Html.ValidationMessageFor(x => x.Age)
    </p>

    <p>
        @Html.LabelFor(x => x.TermsAccepted)
        @Html.EditorFor(x => x.TermsAccepted)
        @Html.ValidationMessageFor(x => x.TermsAccepted)
    </p>

    <input type="submit" value="Register" />
}