@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("Explicit Data Validation", "ExplicitDataValidation")<br />
@Html.ActionLink("Model Level Error", "ModelLevelError")<br />
@Html.ActionLink("Metadata Validation", "MetadataValidation")<br />
@Html.ActionLink("Custom Validation Attribute", "CustomValidationAttribute")<br />
@Html.ActionLink("Client Side Validation", "ClientSideValidation")<br />