@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div>
        <ul>
            <li>@Html.ActionLink("Base info", "V_01_BaseInfo")</li>
            <li>@Html.ActionLink("Strongly Typed View", "V_02_StronglyTypedView")</li>
            <li>@Html.ActionLink("Layouts", "Index", "_06_Layouts")</li>
            <li>@Html.ActionLink("Partial Views", "Index", "_07_PartialViews")</li>
            <li>@Html.ActionLink("Child Actions", "Index", "_08_ChildActions")</li>
            <li>@Html.ActionLink("Html Helpers", "Index", "_02_HtmlHelper")</li>
            <li>@Html.ActionLink("Html Forms", "Index", "_03_HtmlForms")</li>
            <li>@Html.ActionLink("Templated Helpers", "Index", "_004_TemplatedHelperMethod")</li>
        </ul>
    </div>
</body>
</html>
