@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("Simple Type Binding", "SimpleTypeBinding")<br />
@Html.ActionLink("Complex Type Binding", "ComplexTypeBinding")<br />
@Html.ActionLink("Binding With Prefix", "BindingWithPrefix")<br />
@Html.ActionLink("Array Binding", "ArrayBinding")<br />
@Html.ActionLink("Manual Binding", "ManualBinding")<br />
@Html.ActionLink("File Upload", "FileUpload")<br />
@Html.ActionLink("Advanced Binding Settings", "AdvancedBindingSettings")<br />
@Html.ActionLink("Custom Model Binder", "CustomModelBinder")<br />