@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>Для тестирования запустить _02_SlowService</p>
    <ul>
        <li>@Html.ActionLink("Base info", "A_01_BaseInfo")</li>
        <li>@Html.ActionLink("Sync Controller", "A_02_SyncController")</li>
        <li>@Html.ActionLink("Async Controller MVC3", "Index", "_03_AsyncMVC3")</li>
        <li>@Html.ActionLink("Async Controller MVC4", "A_03_AsyncController")</li>
        <li>@Html.ActionLink("Async Controller MVC4 Parallel", "A_04_AsyncParallelController")</li>
    </ul>
</body>
</html>
