@model _01_ASPMVCTest.Areas._02_View.Models.V_05_Person
@{
    ViewBag.Title = "SpecialTemplate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SpecialTemplate EditorFor</h2>

@Html.LabelFor(x => x.PersonId)<br />
@Html.EditorFor(x => x.PersonId) <br />

@Html.LabelFor(x => x.Name)<br />
@Html.EditorFor(x => x.Name) <br />

@Html.LabelFor(x => x.Role)<br />
@*Второй параметр указывает на название шаблона из директории EditorTemplates *@
@Html.EditorFor(x => x.Role, "RoleTemplate") <br />

<h2>SpecialTemplate DisplayFor</h2>

@Html.LabelFor(x => x.PersonId)<br />
@Html.DisplayFor(x => x.PersonId) <br />

@Html.LabelFor(x => x.Name)<br />
@Html.DisplayFor(x => x.Name) <br />

@Html.LabelFor(x => x.Role)<br />
@*Второй параметр указывает на название шаблона из директории DisplayTemplates *@
@Html.DisplayFor(x => x.Role, "RoleTemplate") <br />