@{
    ViewBag.Title = "Index page";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <h1>Index</h1>
    @using (Html.BeginForm())
    {
        <div>
            <ul>
                <li>
                    <h2>@Html.RouteLink("Base Info", new { controller = "_001_Home", action = "Index", area = "_000_Base" })</h2>
                </li>
                <li>
                    <h2>@Html.RouteLink("Controller", new { controller = "_001_Home", action = "Index", area = "_001_Controller" })</h2> 
                </li>
                <li>
                    <h2>@Html.RouteLink("View", new { controller = "_001_Home", action = "Index", area = "_002_View" })</h2> 
                </li>
                <li>
                    <h2>@Html.RouteLink("Model", new { controller = "_001_Home", action = "Index", area = "_003_Model" })</h2> 
                </li>
                <li>
                    <h2>@Html.RouteLink("Routing", new { controller = "_001_Home", action = "Index", area = "_004_Routing"})</h2>
                </li>
            </ul>
        </div>
    }
</body>
</html>