<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div>
        <ul>
            <li>@Html.ActionLink("Base info", "BaseInfo")</li>
            <li>@Html.ActionLink("Layouts", "Layouts")</li>
            <li>@Html.ActionLink("Layout Without Section", "LayoutWithoutSection")</li>
            <li>@Html.ActionLink("Bundling", "Bundling")</li>
            <li>@Html.ActionLink("Partial Views", "PartialViews")</li>
            <li>@Html.ActionLink("Strongly Typed Partial Views", "StronglyTypedPartialViews")</li>
            <li>@Html.ActionLink("Child Action", "ChildAction")</li>
            <li>@Html.ActionLink("Helper Methods", "Index", "_002_HtmlHelper")</li>
            <li>@Html.ActionLink("Html Forms", "Index", "_003_HtmlForms")</li>
            <li>@Html.ActionLink("Helper Methods", "Index", "_004_TemplatedHelperMethod")</li>
        </ul>

    </div>
</body>
</html>
