@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <ol>
            <li>@Html.ActionLink("Base info", "BaseInfo", "_001_Home")</li>
            <li>@Html.ActionLink("Static Segments", "StaticSegments", "_001_Home")</li>
            <li>@Html.ActionLink("Segment Variables", "SegmentVariables", "_001_Home")</li>
            <li>@Html.ActionLink("Optional Segments", "OptionalSegments", "_001_Home")</li>
            <li>@Html.ActionLink("Catch All Segments", "CatchAllSegments", "_001_Home")</li>
            <li>@Html.ActionLink("Segments Restrictions", "SegmentsRestrictions", "_001_Home")</li>
            <li>@Html.ActionLink("Ignore Rote", "IgnoreRote", "_001_Home")</li>
            <li>@Html.ActionLink("Generate Link", "GenerateLink", "_001_Home")</li>
            <li>@Html.ActionLink("Generate Url", "GenerateUrl", "_001_Home")</li>
            <li>@Html.ActionLink("Areas", "Areas", "_001_Home")</li>
        </ol>
    </div>
</body>
</html>
