@{
    ViewBag.Title = "Index";
}

<ul>
    <li>@Html.ActionLink("Base Info", "F_01_BaseInfo")</li>
    <li>@Html.ActionLink("Exception Filter", "F_02_ExceptionFilter")</li>
    <li>@Html.ActionLink("Action Filter", "F_03_ActionFilter")</li>
    <li>@Html.ActionLink("Result and Action Filters", "F_04_ResultFilter")</li>
    <li>@Html.ActionLink("Filters Order", "F_05_FiltersOrder")</li>
    <li>@Html.ActionLink("Global Filters", "F_06_GlobalFilters")</li>
    <li>@Html.ActionLink("Output Cache", "F_07_OutputCache")</li>
</ul>
